#photo-viewer{
    display: block;
}
#photo-viewer .photo-frame.is-loading:after {
    content: url('../img/load.gif');
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}
#photo-viewer .photo-frame{
    position: relative;
    display: block;
    width: 800px;
    height: 450px;
}
#photo-viewer .photo-frame img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
}

.thumbnails{
    margin-top: 10px;
}

.thumb{
    text-decoration: none;
}

#photo-viewer .thumb img{
    width: 80px;
    height: 45px;
    
}

.photo-frame img{
    border: 3px solid orange;
    border-radius: 10px;
}

a.active img{
    border: 3px solid orange;
    border-radius: 10px;
}
