* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form {
	width: 50%;
}

form input {
	width: 50%;
	margin: 3px;
	outline: none;
	padding: 5px;
	border-radius: 5px;
}

select {
	width: 50%;
	margin: 3px;
	outline: none;
	padding: 5px;
	border-radius: 5px;
}

fieldset {
	border: none;
	text-align: center;
	margin: 5px;
	width: 100%;
}
fieldset:nth-of-type(2) {
	width: 50%;
}

fieldset:nth-of-type(2) div {
	display: flex;
	text-align: center;
	justify-content: left;
	align-items: center;
}

fieldset:nth-of-type(2) div label {
	width: 75%;
	text-align: left;
}

fieldset:nth-of-type(2) div input {
	width: 5%;
}

button {
	width: 35%;
	outline: none;
	border-radius: 5px;
	padding: 5px;
	color: Black;
	font-weight: bold;
	border: 2px solid rgba(255, 0, 0, 1);
	cursor: pointer;
}

button.disabled {
	background-color: rgba(255, 0, 0, 0.5);
}

button.enabled {
	background-color: rgba(0, 128, 0, 0.5);
	border: 2px solid rgba(0, 128, 0, 1);
}

div#welcome {
	padding: 5px;
	margin: 5px;
}
